[submodule "simulators/rp2040js"]
	path = simulators/rp2040js
	url = https://github.com/vecnode/rp2040js.git
[submodule "simulators/avr8js"]
	path = simulators/avr8js
	url = https://github.com/vecnode/avr8js.git
[submodule "simulators/wokwi-elements"]
	path = simulators/wokwi-elements
	url = https://github.com/vecnode/wokwi-elements.git
[submodule "simulators/ArduinoCore-avr"]
	path = simulators/ArduinoCore-avr
	url = https://github.com/vecnode/ArduinoCore-avr.git
[submodule "simulators/LiquidCrystal"]
	path = simulators/LiquidCrystal
	url = https://github.com/vecnode/LiquidCrystal.git
